html {
  height: 100%;
}
body {
  min-height: 100%;
  background-image: url(http://farm9.staticflickr.com/8490/8242472100_e2472feae9_o.jpg);
}
body {
  font-family: 'La Belle Aurore';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: white;
  line-height: 23px;
}
h1 {
  font-family: 'La Belle Aurore';
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: white;
  line-height: 23px;
}
