<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h1 class="text-primary text-center">Informations légales</h1>
      </div>
    </div>
  </div>
</div>
